.listing-show-main-content {
  display: flex;
  flex-direction: row;
}

.listing-image-row {
  display: flex;
  flex-wrap: wrap;
  // height: 660px;
  min-width: 100%;
  min-height: 40vh;
  overflow: hidden;
  max-width: 100%;
  // max-height: 60vw;
  height: fit-content;
  width: auto;
  box-sizing: border-box;
}

.listing-image-column-a {
  flex: 50%;
  max-width: 100%;
  max-height: 800px;
  height: 80vw;
  min-height: 40vh;
  overflow: hidden;
}

.listing-image-column-b, .listing-image-column-c {
  flex: 25%;
  width: 25%;
  overflow: hidden;
  // min-height: 100%;
}

.listing-image-main, .listing-image-small {
  vertical-align: middle;
  width: 100%;
  border: 1px solid #484848;
  box-sizing: border-box;
  object-fit: cover;
  transition: all 0.2s;
}

.listing-image-main {
  min-width: 100%;
  min-height: 100%;
  transition: all 0.2s;
  height: 660px;
}

.listing-image-main:hover, .listing-image-small:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  cursor: pointer;
}

.listing-image-small {
  min-height: 50%;
  display: block;
  box-sizing: border-box;
}

.listing-attributes {
  text-align: left;
  padding-left: 50px;
  border-bottom: 1px solid lightgray; 
  box-sizing: border-box;
  // width: 100%;
}

.listing-name {
  font-size: 32px;
  box-sizing: border-box;
}

.listing-city, .listing-accommodations, .attribute-heading, .listing-attributes li, .listing-description, .amenities-section {
  color: #515151;
  font-size: 16px;
  line-height: 1.43;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  box-sizing: border-box;
}

.listing-city {
  padding-bottom: 0;
}

.listing-accommodations {
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray; 
  box-sizing: border-box;
}

.listing-accommodations p {
  display: flex;
  margin-right: 30px;
}

.attribute-section {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray; 
}

.attribute-heading, .description-subheading, .amenities-heading {
  // display: flex;
  font-weight: 400;
  padding: 5px 0px;
}

.attribute-heading div {
  display: grid;
}

.attribute-descriptor {
  font-weight: 300;
}

.fa-home, .fa-map-marker-alt, .fa-unlock-alt, .fa-key, .fa-wifi, .fa-utensils, .fa-laptop, .fa-tv, .fa-thermometer-half {
  font-size: 26px;
  display: flex;
  margin-right: 15px;
  width: 35px;
  box-sizing: border-box;
  justify-content: center;
}

.listing-description {
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 25px;
  display: block;
}

.description-filler div {
  padding-top: 10px;
  margin-top: 10px;
}

.amenities-section {
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 20px;
  display: block;
}

.amenities-section ul {
  // display: flex;
}

.booking-form {
  border: 1px solid lightgray; 
  margin: 25px 50px;
  padding: 30px;
  box-sizing: border-box;
  width: 350px;
  height: 400px;
}

.booking-form form {
  padding-top: 10px;
  box-sizing: border-box;
}

.booking-form-header {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  font-size: 12px;
}

.listing-price {
  font-size: 20px;
  font-weight: 600;
}

.booking-rating {
  font-weight: 500;
  display: flex;
}

.fa-star {
  color: #008489;
  display: flex;
  margin-right: 5px;
}

.booking-form input {
  font-family: inherit;
  font-size: 14px;
  padding: 10px 10px; 
  align-content: center;
}

.booking-form-dates input[type=date] {
  max-width: 50%;
  box-sizing: border-box;
}

.booking-form-dates {
  margin-top: 10px; 
}

.date-row {
  display: flex;
  width: 100%;
}

.guest-dropdown {
  font-family: inherit;
  margin-top: 20px;
}

.guest-dropdown-options {
  display: block;
  font-size: 14px;
}

.reserve-button {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  padding: 15px 10px; 
  background: rgb(255, 90, 95);
  color: white;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

.reserve-button-note {
  font-size: 12px;
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

@media ( max-width: 800px ) {
  .listing-image-column-c {
    display: none;
  }
}

@media ( max-width: 700px ) {
  .listing-image-column-b {
    display: none;
  }
}