.listing-show-main-content {
  display: flex;
  flex-direction: row;
}

.listing-attributes {
  text-align: left;
  padding-left: 50px;
  // width: 100%;
  color: rgb(72, 72, 72);
}

.listing-image-column-a {
  flex: 50%;
  max-width: 100%;
  max-height: 800px;
  height: 80vw;
  min-height: 40vh;
}

.listing-image-row {
  display: flex;
  flex-wrap: wrap;
  // height: 660px;
  min-width: 100%;
  min-height: 40vh;
  overflow: hidden;
  max-width: 100%;
  // max-height: 60vw;
  height: fit-content;
  width: auto;
  box-sizing: border-box;
}

.listing-image-column-b, .listing-image-column-c {
  flex: 25%;
  width: 25%;
  // min-height: 100%;
}

.listing-image-main, .listing-image-small {
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  border: 1px solid #484848;
  box-sizing: border-box;
  object-fit: cover;
  transition: all 0.2s;
}

.listing-image-main {
  min-width: 100%;
  min-height: 100%;
  transition: all 0.2s;
  // height: 660px;
}

.listing-image-main:hover, .listing-image-small:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;
}

.listing-image-small {
  min-height: 50%;
  display: block;
  box-sizing: border-box;
}

h3 p {
  color: #484848;
  font-size: 14px;
  line-height: 1.43;
  font-weight: normal;
}

.booking-form {
  // display: flex;
  // flex-direction: column;
  border: 1px solid black; 
  justify-content: center;
  width: 350px;
  height: 350px;
  margin: 60px;
  padding: 20px;
}

@media ( max-width: 800px ) {
  .listing-image-column-c {
    display: none;
  }
}

@media ( max-width: 700px ) {
  .listing-image-column-b {
    display: none;
  }
}