
.header {
  border-bottom: 1px solid #ccc;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 900px;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list li {
}

.header-logo {
  background-image: image-url("header-icon-192x192.png");
  /* content: url("header-icon-192x192.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 30px;
  display: inline-flex;
}

.header a {
  display: block;
  color: inherit;
  padding: 10px 20px;
  text-decoration-line: inherit;
}